.button {
    width: 100%;
    border-radius: 5px;
    padding: .8rem;

    font-size: 1rem; // 18px
    color: $white;

    &--cyan {
        background-color: $veryDarkCyan;
        
        &:hover {
            background-color: $strongCyan;
            color: $veryDarkCyan;
        }
    }
    &--grey {
        background-color: $lightGreyishCyan2;
        color: $darkGreyishCyan;

        &:hover {
            color: $veryDarkCyan;
        }
    }
    &--reset {
        width: 100%;
        padding: 1rem;
        background-color: $strongCyan;

        font-size: .8rem; // 15px
        text-transform: uppercase;
        color: $veryDarkCyan;

        &:hover {
            background-color: $lightGreyishCyan;
        }
    }
}