html {
    box-sizing: border-box;
    font-size: 100%;
}

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

button, input {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
input {
    -webkit-appearance: none;
    -moz-appearance: textfield;
    margin: 0;
}

body {
    background-color: $lightGreyishCyan;

    font-family: $fontFamily;
    font-weight: $boldFontWeight;
    font-size: .9rem; // 16px
    color: $darkGreyishCyan;
}

header {
    display: flex;
    justify-content: center;

    padding: 2.8rem 0 2.2rem 0;
}

footer {
    display: flex;
    justify-content: center;
    width: 100%;

    background-color: $lightGreyishCyan2;

    .attribution { 
        padding: .4rem 5rem;

        text-align: center;
        font-size: .7rem;
        font-weight: $lightFontWeight;
    }
    
    .attribution a {
        display: inline-block;

        text-decoration: none; 
        color: $veryDarkCyan; 

        transition: all .25s ease-in .25s;
    }

    .attribution a:hover {
        color: $strongCyan;
        font-weight: $boldFontWeight;
        font-size: .8rem;
        letter-spacing: .05rem;

        transition: all .25s ease-in .25s;
    }
}

@media only screen and (min-width: $resizeAt) {
    body {
        position: relative;
        display: grid;
        justify-content: center;
        padding-bottom: 9rem;
        height: 100%;
    }

    header {
        padding: 9rem 0 4.8rem 0;
    }

    footer {
        background-color: inherit;
    }
}