.result {
    &__value {
        grid-area: value;
        justify-self: end;

        font-size: 1.3rem; // 24px
        color: $strongCyan;
    }

    &__title {
        grid-area: title;

        font-size: .8rem; // 15px
        color: $white;
    }

    &__subtitle {
        grid-area: subtitle;
        font-size: .8rem; // 15px
        color: $lightGreyishCyan;
    }
}

@media only screen and (min-width: $resizeAt) {
    .result {
        &__value {
            font-size: 2rem;
        }
    }
}